# Dependencies
node_modules/
client/node_modules/
server/node_modules/
package-lock.json
client/package-lock.json
server/package-lock.json

# Production builds
client/dist/
dist/
build/

# Local Environment & Secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
